<!-- header with nav links -->
<div *ngIf="isLoggedIn()">
    <div>
        <a [routerLink]="['/trainer']">Trainer page</a>
    </div>
    <div>
        <a [routerLink]="['/catalogue']">Pokemon catalogue</a>
    </div>
</div>

