<h2 class="sub-headline">Pokemon catalogue</h2>
<button (click)="testLogin()">Test login</button>
<ul>
        <app-pokemon-list-item 
        *ngFor="let pokemon of pokemonArray"
        [pokemon]="pokemon"
        [type]="'catalogue-page'">
        </app-pokemon-list-item>
</ul>
