<h2>Welcome, {{user?.username}}</h2>
<h3 class="sub-headline">Your pokemon are:</h3>
<ul>
    <app-pokemon-list-item
    *ngFor="let pokemon of user?.pokemon"
    [pokemon]="pokemon"
    [type]="'trainer-page'">
    </app-pokemon-list-item>    
</ul>