<li *ngIf="pokemon !== null">
    <div>
        <h4>{{pokemon.name}}</h4>
        <img [src]="pokemon.url"/>
    </div>
    <span *ngIf="type === 'catalogue-page'">
        <button (click)="addToCollection()" [disabled]="this.checkIfCollected()" class="add-btn">Add pokemon to collection</button>
    <p *ngIf="this.checkIfCollected()">{{pokemon.name}} is already collected</p>
    </span>
    <span *ngIf="type === 'trainer-page'">
        <button (click)="removeFromCollection()" class="remove-btn">Remove from collection</button>
    </span>
</li>